html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(173, 230, 230);
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 1 !important;
}

meter.blue::-moz-meter-bar {
  background: var(--buttonblue);
}
meter.blue::-webkit-meter-optimum-value {
  background: var(--buttonblue);
}
meter.yellow::-moz-meter-bar {
  background: var(--buttonyellow);
}
meter.yellow::-webkit-meter-optimum-value {
  background: var(--buttonyellow);
}
meter.pink::-moz-meter-bar {
  background: var(--buttonpink);
}
meter.pink::-webkit-meter-optimum-value {
  background: var(--buttonpink);
}
meter.teal::-moz-meter-bar {
  background: var(--buttonteal);
}
meter.teal::-webkit-meter-optimum-value {
  background: var(--buttonteal);
}

:root {
  --green: #73d673;
  --red: #f48484;
  --bgblue: #eeeeff;
  --bgyellow: #ffffee;
  --bgpink: #ffeeee;
  --bgteal: #eeffee;
  --buttonblue: rgb(200, 200, 255);
  --buttonyellow: rgb(255, 255, 200);
  --buttonpink: rgb(255, 200, 200);
  --buttonteal: rgb(200, 255, 223);
}

.play-game {
  text-align: center;
}
.play-game__question {
  font-size: clamp(1.5rem, -0.0882rem + 4.4118vw, 3rem);
}
.answers {
  width: 80%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(2, minmax(100px, 400px));
  justify-content: center;
  gap: 20px;
}
.answers__option {
  display: flex;
  justify-content: center;
}
.answers__button {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4;
  border: 4px solid black;
  border-radius: 500px;
  transition: 0.3s;
  cursor: pointer;
}
.answers__button:hover {
  transform: scale(0.97);
  opacity: 0.8;
}
.answers__button:active {
  transform: scale(0.95);
}
.answers__button.blue {
  background-color: var(--buttonblue);
}
.answers__button.yellow {
  background-color: var(--buttonyellow);
}
.answers__button.pink {
  background-color: var(--buttonpink);
}
.answers__button.teal {
  background-color: var(--buttonteal);
}
.answers__button__alpha {
  background-color: black;
  color: white;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.answers__correct {
  transition: 0.2s;
  color: darkgreen;
  font-weight: bold;
  margin: 0;
  opacity: 0;
}
.answers__correct-div {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nodes {
  margin-inline: auto;
  text-align: left;
  width: 80%;
}

.node, .node--green, .node--red {
  width: 2.9%;
  aspect-ratio: 2;
  background-color: black;
  margin: 0.2%;
  display: inline-block;
}
.node--red {
  background-color: var(--red);
}
.node--green {
  background-color: var(--green);
}

.recap, .recap--incorrect, .recap--correct {
  display: flex;
  justify-content: space-around;
}
.recap--correct {
  background-color: var(--green);
}
.recap--incorrect {
  background-color: var(--red);
}

.gameover__title {
  padding-top: 50px;
}
.gameover__subheaders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gameover__category meter {
  width: 80%;
  max-width: 600px;
  margin-bottom: 0;
}
.gameover__category p {
  margin-bottom: 0;
}

.answers-log__entry, .answers-log__entry--green, .answers-log__entry--red {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.answers-log__entry--red {
  background-color: var(--red);
}
.answers-log__entry--green {
  background-color: var(--green);
}

.stats {
  text-align: center;
}
.stats__entries {
  margin-inline: auto;
}
.stats__category meter {
  width: 80%;
  max-width: 600px;
  margin-bottom: 0;
}
.stats__category p {
  margin-bottom: 0;
}
.stats__entry, .stats__entry-titles {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.stats__category-averages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav {
  position: relative;
  height: 50px;
  background-color: black;
}

.theme__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
  cursor: pointer;
}
.theme__dropdown {
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
  background-color: grey;
  width: 100px;
  text-align: center;
}
.theme__dropdown a {
  cursor: pointer;
  margin: 4px 0;
  padding: 0;
}
.theme__dropdown a:hover {
  background-color: white;
}
.theme__dropdown.active {
  display: grid;
  grid-template-columns: 1fr;
}
.theme__background {
  display: none;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.theme__background.active {
  display: grid;
  grid-template-columns: 1fr;
}/*# sourceMappingURL=main.css.map */