/* --- INDICATORS --- */
/* --- THEMES --- */
html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 230, 230);
  min-height: 100vh;
  padding-bottom: 300px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 1 !important;
}

meter {
  border: solid 1px black;
  border-radius: 10px;
  height: 15px;
  background: rgb(226, 226, 226);
}
meter.blue::-moz-meter-bar, meter.blue::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, var(--blueC), var(--blueGradient) 100%);
}
meter.yellow::-moz-meter-bar, meter.yellow::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, var(--yellowC), var(--yellowGradient) 100%);
}
meter.green::-moz-meter-bar, meter.green::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, var(--greenC), var(--greenGradient) 100%);
}
meter.pink::-moz-meter-bar, meter.pink::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, var(--pinkC), var(--pinkGradient) 100%);
}
meter.teal::-moz-meter-bar, meter.teal::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, var(--tealC), var(--tealGradient) 100%);
}
meter.purple::-moz-meter-bar, meter.purple::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, var(--purpleC), var(--purpleGradient) 100%);
}

.button {
  width: 80px;
  aspect-ratio: 2;
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  transform: scale(0.95);
}
.button:active {
  transform: scale(0.9);
}
.button.blue {
  background-color: var(--blueB);
  border: solid 3px var(--blueC);
}
.button.yellow {
  background-color: var(--yellowB);
  border: solid 3px var(--yellowC);
}
.button.green {
  background-color: var(--greenB);
  border: solid 3px var(--greenC);
}
.button.pink {
  background-color: var(--pinkB);
  border: solid 3px var(--pinkC);
}
.button.teal {
  background-color: var(--tealB);
  border: solid 3px var(--tealC);
}
.button.purple {
  background-color: var(--purpleB);
  border: solid 3px var(--purpleC);
}

:root {
  --greenIndA: rgb(115, 214, 115);
  --redIndA: rgb(244, 132, 132);
  --blueIndA: rgb(115, 115, 214);
  --yellowIndA: rgb(244, 244, 132);
  --greenIndB: darkgreen;
  --redIndB: darkred;
  --blueIndB: darkblue;
  --yellowIndB: darkgoldenrod;
  --blueA: rgb(238, 238, 255);
  --yellowA: rgb(255, 255, 238);
  --greenA: rgb(238, 255, 238);
  --pinkA: rgb(255, 238, 238);
  --tealA: rgb(238, 255, 255);
  --purpleA: rgb(245, 235, 255);
  --blueB: rgb(200, 200, 255);
  --yellowB: rgb(255, 255, 200);
  --greenB: rgb(200, 255, 200);
  --pinkB: rgb(255, 200, 200);
  --tealB: rgb(200, 255, 223);
  --purpleB: rgb(223, 162, 255);
  --blueC: rgb(100, 100, 200);
  --yellowC: rgb(212, 212, 89);
  --greenC: rgb(100, 200, 100);
  --pinkC: rgb(200, 100, 100);
  --tealC: rgb(100, 200, 162);
  --purpleC: rgb(162, 80, 200);
  --blueGradient: rgb(115, 229, 229);
  --yellowGradient: rgb(255, 255, 116);
  --greenGradient: rgb(142, 255, 104);
  --pinkGradient: rgb(255, 139, 207);
  --tealGradient: rgb(28, 255, 240);
  --purpleGradient: rgb(241, 111, 255);
}

.play-game {
  text-align: center;
}
.play-game__question {
  font-size: clamp(1.5rem, -0.0882rem + 4.4118vw, 3rem);
}

.answers {
  width: 80%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(2, minmax(100px, 300px));
  justify-content: center;
  gap: 20px;
}
.answers__option {
  display: flex;
  justify-content: center;
  background: black;
  border-radius: 500px;
  padding: 4px;
}
.answers__option:hover {
  transform: scale(0.97);
}
.answers__option:active {
  transform: scale(0.95);
}
.answers__option.disabled {
  transform: scale(1);
  opacity: 0.7;
}
.answers__option.blue {
  background: linear-gradient(135deg, var(--blueC), var(--blueGradient) 60%, var(--blueC) 100%);
}
.answers__option.blue button {
  background-color: var(--blueB);
}
.answers__option.blue button .answers__button__alpha {
  background-color: var(--blueC);
}
.answers__option.yellow {
  background: linear-gradient(135deg, var(--yellowC), var(--yellowGradient) 60%, var(--yellowC) 100%);
}
.answers__option.yellow button {
  background-color: var(--yellowB);
}
.answers__option.yellow button .answers__button__alpha {
  background-color: var(--yellowC);
}
.answers__option.green {
  background: linear-gradient(135deg, var(--greenC), var(--greenGradient) 60%, var(--greenC) 100%);
}
.answers__option.green button {
  background-color: var(--greenB);
}
.answers__option.green button .answers__button__alpha {
  background-color: var(--greenC);
}
.answers__option.pink {
  background: linear-gradient(135deg, var(--pinkC), var(--pinkGradient) 60%, var(--pinkC) 100%);
}
.answers__option.pink button {
  background-color: var(--pinkB);
}
.answers__option.pink button .answers__button__alpha {
  background-color: var(--pinkC);
}
.answers__option.teal {
  background: linear-gradient(135deg, var(--tealC), var(--tealGradient) 60%, var(--tealC) 100%);
}
.answers__option.teal button {
  background-color: var(--tealB);
}
.answers__option.teal button .answers__button__alpha {
  background-color: var(--tealC);
}
.answers__option.purple {
  background: linear-gradient(135deg, var(--purpleC), var(--purpleGradient) 60%, var(--purpleC) 100%);
}
.answers__option.purple button {
  background-color: var(--purpleB);
}
.answers__option.purple button .answers__button__alpha {
  background-color: var(--purpleC);
}
.answers__button {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 10px;
  align-items: center;
  text-align: left;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4;
  border: none;
  border-radius: 500px;
  padding-left: 10px;
  transition: 0.3s;
  cursor: pointer;
  opacity: 0.7;
}
.answers__button:disabled {
  color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: default;
}
.answers__button__alpha {
  background-color: black;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.answers__button__text {
  font-size: 1.2rem;
  font-weight: 100;
}

.nodes {
  margin-inline: auto;
  text-align: left;
  width: 80%;
}

.node, .node--incorrect, .node--correct {
  width: 2.9%;
  aspect-ratio: 2;
  background-color: black;
  margin: 0.2%;
  display: inline-block;
}
.node--correct.greenred {
  background-color: var(--greenIndA);
}
.node--correct.greenred .recap__result {
  color: var(--greenIndB);
}
.node--correct.blueyellow {
  background-color: var(--blueIndA);
}
.node--correct.blueyellow .recap__result {
  color: var(--blueIndB);
}
.node--incorrect.greenred {
  background-color: var(--redIndA);
}
.node--incorrect.greenred .recap__result {
  color: var(--redIndB);
}
.node--incorrect.blueyellow {
  background-color: var(--yellowIndA);
}
.node--incorrect.blueyellow .recap__result {
  color: var(--yellowIndB);
}

.gameover__title {
  padding-top: 50px;
}
.gameover__subheaders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gameover__category meter {
  width: 80%;
  max-width: 600px;
  margin-bottom: 0;
}
.gameover__category p {
  margin-bottom: 0;
}

.log__entry, .log__entry--incorrect, .log__entry--correct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.log__entry--correct.greenred {
  background-color: var(--greenIndA);
}
.log__entry--correct.greenred .recap__result {
  color: var(--greenIndB);
}
.log__entry--correct.blueyellow {
  background-color: var(--blueIndA);
}
.log__entry--correct.blueyellow .recap__result {
  color: var(--blueIndB);
}
.log__entry--incorrect.greenred {
  background-color: var(--redIndA);
}
.log__entry--incorrect.greenred .recap__result {
  color: var(--redIndB);
}
.log__entry--incorrect.blueyellow {
  background-color: var(--yellowIndA);
}
.log__entry--incorrect.blueyellow .recap__result {
  color: var(--yellowIndB);
}

.stats {
  text-align: center;
}
.stats__entries {
  margin-inline: auto;
}
.stats__category meter {
  width: 80%;
  max-width: 600px;
  margin-bottom: 0;
}
.stats__category p {
  margin-bottom: 0;
}
.stats__entry, .stats__entry-titles {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
  text-align: center;
}
.stats__category-averages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.recap, .recap--incorrect, .recap--correct {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.recap--correct.greenred {
  background-color: var(--greenIndA);
}
.recap--correct.greenred .recap__result {
  color: var(--greenIndB);
}
.recap--correct.blueyellow {
  background-color: var(--blueIndA);
}
.recap--correct.blueyellow .recap__result {
  color: var(--blueIndB);
}
.recap--incorrect.greenred {
  background-color: var(--redIndA);
}
.recap--incorrect.greenred .recap__result {
  color: var(--redIndB);
}
.recap--incorrect.blueyellow {
  background-color: var(--yellowIndA);
}
.recap--incorrect.blueyellow .recap__result {
  color: var(--yellowIndB);
}
.recap__result {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.recap__result__text {
  transition: 0.2s;
  font-weight: bold;
  margin: 0;
}
.recap__title p {
  margin: 0;
}
.recap__answers {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}
.recap__answers__item {
  margin: 2px auto;
  padding: 2px 4px;
  width: -moz-max-content;
  width: max-content;
}
.recap__answers__guess {
  background-color: white;
  border-radius: 5px;
}
.recap__answers__guess.blue {
  background-color: var(--blueB);
}
.recap__answers__guess.yellow {
  background-color: var(--yellowB);
}
.recap__answers__guess.green {
  background-color: var(--greenB);
}
.recap__answers__guess.pink {
  background-color: var(--pinkB);
}
.recap__answers__guess.teal {
  background-color: var(--tealB);
}
.recap__answers__guess.purple {
  background-color: var(--purpleB);
}

nav {
  position: relative;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}
nav h1 {
  font-size: 2rem;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.nav__home {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: 0.3s;
}
.nav__home:hover {
  transform: scale(0.95);
}
.nav__home svg {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}

.theme__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5px;
  cursor: pointer;
}
.theme__dropdown {
  position: absolute;
  right: 5px;
  top: 25px;
  display: none;
  border-radius: 10px;
  background-color: white;
  width: 200px;
  padding-bottom: 15px;
  text-align: center;
  z-index: 101;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.theme__dropdown.active {
  display: grid;
  grid-template-columns: 1fr;
}
.theme__dropdown h4 {
  margin: 10px;
}
.theme__background {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
.theme__background.active {
  display: grid;
  grid-template-columns: 1fr;
}
.theme__select.blue {
  background-color: var(--blueA);
  border: solid 2px var(--blueC);
}
.theme__select.blue div {
  background: linear-gradient(135deg, var(--blueC), var(--blueGradient) 60%, var(--blueC) 100%);
  border: 1px solid var(--blueC);
}
.theme__select.yellow {
  background-color: var(--yellowA);
  border: solid 2px var(--yellowC);
}
.theme__select.yellow div {
  background: linear-gradient(135deg, var(--yellowC), var(--yellowGradient) 60%, var(--yellowC) 100%);
  border: 1px solid var(--yellowC);
}
.theme__select.green {
  background-color: var(--greenA);
  border: solid 2px var(--greenC);
}
.theme__select.green div {
  background: linear-gradient(135deg, var(--greenC), var(--greenGradient) 60%, var(--greenC) 100%);
  border: 1px solid var(--greenC);
}
.theme__select.pink {
  background-color: var(--pinkA);
  border: solid 2px var(--pinkC);
}
.theme__select.pink div {
  background: linear-gradient(135deg, var(--pinkC), var(--pinkGradient) 60%, var(--pinkC) 100%);
  border: 1px solid var(--pinkC);
}
.theme__select.teal {
  background-color: var(--tealA);
  border: solid 2px var(--tealC);
}
.theme__select.teal div {
  background: linear-gradient(135deg, var(--tealC), var(--tealGradient) 60%, var(--tealC) 100%);
  border: 1px solid var(--tealC);
}
.theme__select.purple {
  background-color: var(--purpleA);
  border: solid 2px var(--purpleC);
}
.theme__select.purple div {
  background: linear-gradient(135deg, var(--purpleC), var(--purpleGradient) 60%, var(--purpleC) 100%);
  border: 1px solid var(--purpleC);
}
.theme__select div {
  width: 20px;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 100%;
}

.indicator__select {
  background-color: #eee;
  border: solid 2px black;
}
.indicator__select.greenred #sampleA {
  background-color: var(--greenIndA);
}
.indicator__select.greenred #sampleB {
  background-color: var(--redIndA);
}
.indicator__select.blueyellow #sampleA {
  background-color: var(--blueIndA);
}
.indicator__select.blueyellow #sampleB {
  background-color: var(--yellowIndA);
}
.indicator__samples {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.indicator__sample {
  width: 15px;
  margin-inline: 2px;
  aspect-ratio: 1;
  border: 1px solid black;
}

.theme__select, .indicator__select {
  cursor: pointer;
  margin-inline: auto;
  margin-bottom: 4px;
  padding: 4px 12px;
  width: 80%;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
}
.theme__select:hover, .indicator__select:hover {
  color: black;
  opacity: 0.8;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  text-align: center;
}
.footer__nav {
  width: 50%;
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
}
.footer__nav a {
  color: white;
}
.footer__nav a:hover {
  opacity: 0.8;
}
.footer__nav a.blue {
  color: var(--blueC);
}
.footer__nav a.yellow {
  color: var(--yellowC);
}
.footer__nav a.green {
  color: var(--greenC);
}
.footer__nav a.pink {
  color: var(--pinkC);
}
.footer__nav a.teal {
  color: var(--tealC);
}
.footer__nav a.purple {
  color: var(--purpleC);
}
.footer__links {
  display: grid;
  grid-template-columns: 1fr;
}
.footer__links a {
  margin-inline: auto;
  cursor: pointer;
  color: white;
}
.footer__links img {
  width: 75px;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */