@use '../base/mixins' as mixins;

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
  @include mixins.backgroundThemes();
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 20px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 1 !important;
}

meter {
  border: solid 1px #222;
  border-radius: 10px;
  height: 15px;
  background: rgb(226, 226, 226);
  width: 80%;
  max-width: 600px;
  margin-bottom: 0;
  @include mixins.meterThemes();
}

.meterdiv p {
  margin-bottom: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  border: solid 1px darkgray;
  @include mixins.rangeThemes();

  // Range Input Thumb

  @mixin range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: solid 1px darkgray;
    border-radius: 100%;
    cursor: pointer;
  }
  &::-webkit-slider-thumb { @include range-thumb; transform: translateY(-25%); }
  &::-moz-range-thumb { @include range-thumb; }
  &::-ms-thumb { @include range-thumb; }
  
  // Range Input Active Track
  
  &::-webkit-slider-runnable-track {
    height: 100%;
    border-radius: 4px;
  }
  
  &::-moz-range-progress {
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25.5px;
  margin: 5px auto;
  @include mixins.switchThemes();

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ccc;
  border-radius: 25.5px;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  cursor: pointer;

  &:before {
    position: absolute;
    content: "";
    width: 19.5px;
    aspect-ratio: 1;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
  }
}

input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
}

.button {
  width: 90px;
  aspect-ratio: 2;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  font-size: clamp(0.7rem, 0.6526rem + 0.2105vw, 0.8rem);
  margin: 10px;

  @include mixins.breakpoint('small') {
    margin: 15px;
    width: 100px;
  }

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }

  @include mixins.buttonThemes();
}

.panel {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 20px 0;
  margin-inline: auto;
  margin-bottom: 25px;
  border-radius: 50px;
  @include mixins.panelThemes();

  @include mixins.breakpoint('medium') {
    margin-bottom: 50px;
  }
}