html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 230, 230);
  min-height: 100vh;
  padding-bottom: 300px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 1 !important;
}

meter {
  &.blue {
    &::-moz-meter-bar {
      background: var(--buttonblue);
    }
    &::-webkit-meter-optimum-value {
      background: var(--buttonblue);
    }
  }
  &.yellow {
    &::-moz-meter-bar {
      background: var(--buttonyellow);
    }
    &::-webkit-meter-optimum-value {
      background: var(--buttonyellow);
    }
  }
  &.pink {
    &::-moz-meter-bar {
      background: var(--buttonpink);
    }
    &::-webkit-meter-optimum-value {
      background: var(--buttonpink);
    }
  }
  &.teal {
    &::-moz-meter-bar {
      background: var(--buttonteal);
    }
    &::-webkit-meter-optimum-value {
      background: var(--buttonteal);
    }
  }
}