html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 230, 230);
  min-height: 100vh;
  padding-bottom: 300px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 1 !important;
}

meter {
  border: solid 1px black;
  border-radius: 10px;
  height: 15px;
  &.blue {
    background: var(--blueB);
    &::-moz-meter-bar {
      background: var(--blueC);
    }
    &::-webkit-meter-optimum-value {
      background: var(--blueC);
    }
  }
  &.yellow {
    background: var(--yellowB);
    &::-moz-meter-bar {
      background: var(--yellowC);
    }
    &::-webkit-meter-optimum-value {
      background: var(--yellowC);
    }
  }
  &.pink {
    background: var(--pinkB);
    &::-moz-meter-bar {
      background: var(--pinkC);
    }
    &::-webkit-meter-optimum-value {
      background: var(--pinkC);
    }
  }
  &.teal {
    background: var(--tealB);
    &::-moz-meter-bar {
      background: var(--tealC);
    }
    &::-webkit-meter-optimum-value {
      background: var(--tealC);
    }
  }
}

.button {
  width: 80px;
  aspect-ratio: 2;
  background-color: red;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }

  &.blue {
    background-color: var(--blueB);
    border: solid 2px var(--blueC);
  }

  &.yellow {
    background-color: var(--yellowB);
    border: solid 2px var(--yellowC);
  }

  &.pink {
    background-color: var(--pinkB);
    border: solid 2px var(--pinkC);
  }

  &.teal {
    background-color: var(--tealB);
    border: solid 2px var(--tealC);
  }
}