@use '../base/mixins' as mixins;

html {
  box-sizing: border-box;
  font-size: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 230, 230);
  min-height: 100vh;
  padding-bottom: 300px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited, a:active {
  text-decoration: none;
}

.hidden {
  display: none;
}

.opacity {
  opacity: 1 !important;
}

meter {
  border: solid 1px black;
  border-radius: 10px;
  height: 15px;
  background: rgb(226, 226, 226);
  @include mixins.meterThemes();
}

.button {
  width: 80px;
  aspect-ratio: 2;
  background-color: white;
  border: solid 3px black;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(0.95);
  }

  &:active {
    transform: scale(0.9);
  }

  @include mixins.buttonThemes();
}