:root {
  --greenIndA: rgb(115, 214, 115);
  --redIndA: rgb(244, 132, 132);
  --blueIndA: rgb(115, 115, 214);
  --yellowIndA: rgb(244, 244, 132);

  --greenIndB: darkgreen;
  --redIndB: darkred;
  --blueIndB: darkblue;
  --yellowIndB: darkgoldenrod;

  --blueA: rgb(238, 238, 255);
  --yellowA: rgb(255, 255, 238);
  --greenA: rgb(238, 255, 238);
  --pinkA: rgb(255, 238, 238);
  --tealA: rgb(238, 255, 255);
  --purpleA: rgb(245, 235, 255);

  --blueB: rgb(200, 200, 255);
  --yellowB: rgb(255, 255, 200);
  --greenB: rgb(200, 255, 200);
  --pinkB: rgb(255, 200, 200);
  --tealB: rgb(200, 255, 223);
  --purpleB: rgb(223, 162, 255);

  --blueC: rgb(100, 100, 200);
  --yellowC: rgb(212, 212, 89);
  --greenC: rgb(100, 200, 100);
  --pinkC: rgb(200, 100, 100);
  --tealC: rgb(100, 200, 162);
  --purpleC: rgb(162, 80, 200);

  --blueGradient: rgb(115, 229, 229);
  --yellowGradient: rgb(255, 255, 116);
  --greenGradient: rgb(142, 255, 104);
  --pinkGradient: rgb(255, 139, 207);
  --tealGradient: rgb(28, 255, 240);
  --purpleGradient: rgb(241, 111, 255);
}



