:root {
  --green: #73d673;
  --red: #f48484;

  --bgblue: #eeeeff;
  --bgyellow: #ffffee;
  --bgpink: #ffeeee;
  --bgteal: #eeffee;

  --buttonblue: rgb(200, 200, 255);
  --buttonyellow: rgb(255, 255, 200);
  --buttonpink: rgb(255, 200, 200);
  --buttonteal: rgb(200, 255, 223);
}

