@mixin breakpoint($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

$breakpoints-up: (
    "small": 30em,
    "medium": 43.75em,
    "large": 56.25em,
    "xlarge": 60em
);

/* --- INDICATORS --- */

$greenred: ('title': 'greenred', 'correct': 'GR_green', 'incorrect': 'GR_red');
$blueyellow: ('title': 'blueyellow', 'correct': 'BY_blue', 'incorrect': 'BY_yellow');
$tealtan: ('title': 'tealtan', 'correct': 'TT_teal', 'incorrect': 'TT_tan');
$orangeblue: ('title': 'orangeblue', 'correct': 'OB_orange', 'incorrect': 'OB_blue');
$bluepink: ('title': 'bluepink', 'correct': 'BP_blue', 'incorrect': 'BP_pink');
$yellowpink: ('title': 'yellowpink', 'correct': 'YP_yellow', 'incorrect': 'YP_pink');

$indicators: $greenred, $blueyellow, $tealtan, $orangeblue, $bluepink, $yellowpink;

@mixin recapCorrect() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
    background-color: var(--#{map-get($indicator, 'correct')}IndA);
    & .recap__result {
      color: var(--#{map-get($indicator, 'correct')}IndB);
    }
  }
  }
}

@mixin recapIncorrect() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
    background-color: var(--#{map-get($indicator, 'incorrect')}IndA);
    & .recap__result {
      color: var(--#{map-get($indicator, 'incorrect')}IndB);
    }
  }
  }
}

@mixin logEntryCorrect() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
    color: var(--#{map-get($indicator, 'correct')}IndA);
  }
  }
}

@mixin logEntryIncorrect() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
    color: var(--#{map-get($indicator, 'incorrect')}IndA);
  }
  }
}

@mixin themeDropdownIndicators() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
      & #sampleA {
        background-color: var(--#{map-get($indicator, 'correct')}IndA);
      }
  
      & #sampleB {
        background-color: var(--#{map-get($indicator, 'incorrect')}IndA);
      }
    }
  }
}

/* --- THEMES --- */

$themes: 'blue', 'yellow', 'green', 'orange', 'pink', 'teal', 'purple';

@mixin backgroundThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background: linear-gradient(180deg, white 0% 5%, var(--#{$theme}A) 100vh);
    }
  }
}

@mixin navThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      & h1 {
        color: var(--#{$theme}B);
      }

      & .nav__icon {
        background-color: var(--#{$theme}A);
      }
    }
  }
}

@mixin footerThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      color: var(--#{$theme}B);
      & a {
        color: var(--#{$theme}C);
      }
    }
  }
}

@mixin homeThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      & a, span, h1 {
        color: var(--#{$theme}C);
      }
    }
  }
}

@mixin playGameThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      & .play-game__question i {
        color: var(--#{$theme}C);
      }

      & .play-game__progress {
        background-color: var(--#{$theme}C);
        color: var(--#{$theme}A);
      }

      & .answers__option {
        background: linear-gradient(135deg, var(--#{$theme}C), var(--#{$theme}Gradient) 60%, var(--#{$theme}C) 100%);
        & button {
          background-color: var(--#{$theme}B);
          & .answers__button__alpha {
            background-color: var(--#{$theme}C);
          }
        }
      }
    }
  }
}

@mixin recapThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      & .recap__answers__guess {
        background-color: var(--#{$theme}B);
      }
    }
  }
}

@mixin logThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background-color: var(--#{$theme}A);
    }
  }
}

@mixin buttonThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background-color: var(--#{$theme}C);
      color: var(--#{$theme}A);
    }
  }
}

@mixin meterThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      &::-moz-meter-bar, &::-webkit-meter-optimum-value {
      background: linear-gradient(90deg, var(--#{$theme}C), var(--#{$theme}Gradient) 100%);
      }
      &::-webkit-meter-optimum-value {
        background: linear-gradient(90deg, var(--#{$theme}C), var(--#{$theme}Gradient) 100%);
      }
    }
  }
}

@mixin rangeThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background: var(--#{$theme}B);
      &:disabled { background-color: lightgray; }

      // Styling for the thumb/handle
      &::-webkit-slider-thumb { background: var(--#{$theme}C); }
      &::-moz-range-thumb { background: var(--#{$theme}C); }
      &::-ms-thumb { background: var(--#{$theme}C); }

      // Styling for the active portion of the bar
      &::-moz-range-progress { background-color: var(--#{$theme}C); }
      &::-webkit-slider-runnable-track { background: linear-gradient(to right, var(--#{$theme}C) var(--range-progress), var(--#{$theme}B) var(--range-progress)) }
      &::-ms-track { background-color: var(--#{$theme}C); }

      &:disabled::-webkit-slider-thumb { background: grey; }
      &:disabled::-moz-range-thumb { background: grey; }
      &:disabled::-ms-thumb { background: grey; }

      &:disabled::-webkit-slider-runnable-track { background: lightgray }
      &:disabled::-moz-range-progress { background-color: lightgray }
    }
  }
}

@mixin switchThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      & input {
        &:checked + .slider {
          background-color: var(--#{$theme}C);
        }
      }
    }
  }
}

@mixin themeDropdownThemes() {
  @each $theme in $themes {
    &.#{$theme} {
        background-color: var(--#{$theme}A);
        border: solid 2px var(--#{$theme}C);

        & div {
          background: linear-gradient(135deg, var(--#{$theme}C), var(--#{$theme}Gradient) 60%, var(--#{$theme}C) 100%);
          border: 1px solid var(--#{$theme}C);
        }
    }
  }
}

@mixin panelThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background-color: var(--#{$theme}A);
      border: solid 2px var(--#{$theme}C);

      & svg {
        color: var(--#{$theme}C)
      }
    }
  }
}

