/* --- INDICATORS --- */

$greenred: (
  'title': 'greenred',
  'correct': 'GR_green',
  'incorrect': 'GR_red'
);
$blueyellow: (
  'title': 'blueyellow',
  'correct': 'BY_blue',
  'incorrect': 'BY_yellow'
);
$tealtan: (
  'title': 'tealtan',
  'correct': 'TT_teal',
  'incorrect': 'TT_tan'
);
$orangeblue: (
  'title': 'orangeblue',
  'correct': 'OB_orange',
  'incorrect': 'OB_blue'
);
$bluepink: (
  'title': 'bluepink',
  'correct': 'BP_blue',
  'incorrect': 'BP_pink'
);
$yellowpink: (
  'title': 'yellowpink',
  'correct': 'YP_yellow',
  'incorrect': 'YP_pink'
);

$indicators: $greenred, $blueyellow, $tealtan, $orangeblue, $bluepink, $yellowpink;

// Sets the background gradient for the body
@mixin backgroundThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background: linear-gradient(180deg, white 0% 5%, var(--#{$theme}B) 100vh);
    }
  }
}

// Sets background colours for the nodes, recap, and post-game answers log when a question is answered correctly
// Sets font colour for the "CORRECT!" header in the recap
@mixin indicatorsCorrect() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
    background-color: var(--#{map-get($indicator, 'correct')}IndA);
    & .recap__result {
      color: var(--#{map-get($indicator, 'correct')}IndB);
    }
  }
  }
}

// Does the same as above but for when a question is answered incorrectly
@mixin indicatorsIncorrect() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
    background-color: var(--#{map-get($indicator, 'incorrect')}IndA);
    & .recap__result {
      color: var(--#{map-get($indicator, 'incorrect')}IndB);
    }
  }
  }
}

// Sets the correct and incorrect sample colours for indicators in the theme dropdown
@mixin themeDropdownIndicators() {
  @each $indicator in $indicators {
    &.#{map-get($indicator, 'title')} {
      & #sampleA {
        background-color: var(--#{map-get($indicator, 'correct')}IndA);
      }
  
      & #sampleB {
        background-color: var(--#{map-get($indicator, 'incorrect')}IndA);
      }
    }
  }
}

/* --- THEMES --- */

$themes: 'blue', 'yellow', 'green', 'orange', 'pink', 'teal', 'purple';

// Sets the text colour for the footer menu based on the active theme
@mixin footerTextThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      color: var(--#{$theme}C);
    }
  }
}

// Sets the highlighter colour for your guessed answer in the recap based on the active theme
@mixin recapGuessHighlightThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background-color: var(--#{$theme}B);
    }
  }
}

// Sets the background colour and border colour for buttons based on the active theme
@mixin buttonThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background-color: var(--#{$theme}C);
      color: var(--#{$theme}A);
    }
  }
}

// Sets the colour gradient for meters based on active theme
@mixin meterThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      &::-moz-meter-bar, &::-webkit-meter-optimum-value {
      background: linear-gradient(90deg, var(--#{$theme}C), var(--#{$theme}Gradient) 100%);
    }
    }
  }
}

// Sets the colour for range inputs based on active theme
@mixin rangeThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background: var(--#{$theme}B);
      &:disabled { background-color: lightgray; }

      // Styling for the thumb/handle
      &::-webkit-slider-thumb { background: var(--#{$theme}C); }
      &::-moz-range-thumb { background: var(--#{$theme}C); }
      &::-ms-thumb { background: var(--#{$theme}C); }

      // Styling for the active portion of the bar
      &::-moz-range-progress { background-color: var(--#{$theme}C); }
      &::-webkit-slider-runnable-track { background: linear-gradient(to right, var(--#{$theme}C) var(--range-progress), var(--#{$theme}B) var(--range-progress)) }
      &::-ms-track { background-color: var(--#{$theme}C); }

      &:disabled::-webkit-slider-thumb { background: grey; }
      &:disabled::-moz-range-thumb { background: grey; }
      &:disabled::-ms-thumb { background: grey; }

      &:disabled::-webkit-slider-runnable-track { background: lightgray }
      &:disabled::-moz-range-progress { background-color: lightgray }
    }
  }
}

// Sets the colour for sliders when active
@mixin sliderThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      &:checked + .slider {
        background-color: var(--#{$theme}C);
      }
    }
  }
}

// Sets the background gradient, inner background colour, and alpha background colour for the answer buttons based on the active theme
@mixin answersOptionThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background: linear-gradient(135deg, var(--#{$theme}C), var(--#{$theme}Gradient) 60%, var(--#{$theme}C) 100%);
      & button {
        background-color: var(--#{$theme}B);

        & .answers__button__alpha {
          background-color: var(--#{$theme}C);
        }
      }
    }
  }
}

// Sets the background colour and sample colour for the themes in the theme dropdown
@mixin themeDropdownThemes() {
  @each $theme in $themes {
    &.#{$theme} {
        background-color: var(--#{$theme}A);
        border: solid 2px var(--#{$theme}C);

        & div {
          background: linear-gradient(135deg, var(--#{$theme}C), var(--#{$theme}Gradient) 60%, var(--#{$theme}C) 100%);
          border: 1px solid var(--#{$theme}C);
        }
    }
  }
}

@mixin questionHighlightThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      & i {
        color: var(--#{$theme}C);
      }
    }
  }
}

@mixin questionCounterThemes() {
  @each $theme in $themes {
    &.#{$theme} {
      background-color: var(--#{$theme}C);
      color: var(--#{$theme}A);
    }
  }
}

