@use '../base/mixins' as mixins;

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;
}

.answers__button__text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #222;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;

    @include mixins.breakpoint('medium') {
        letter-spacing: 4px;
    }

    @include mixins.breakpoint('large') {
        letter-spacing: 6px;
    }
}

h2 {
    text-transform: uppercase;
    letter-spacing: 6px;
}

h3 {
    font-size: 0.8rem;
}

p {
    font-size: clamp(0.8rem, 0.7053rem + 0.4211vw, 1rem);
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2px);
  }
}

.wave-effect {
& span {
    display: inline-block;
    width: min-content;
    margin: 0;
    animation-name: wave;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    + .pos-1 { animation-delay: 0.1s; }
    + .pos-2 { animation-delay: 0.2s; }
    + .pos-3 { animation-delay: 0.3s; }
    + .pos-4 { animation-delay: 0.4s; }
    + .pos-5 { animation-delay: 0.5s; }
    + .pos-6 { animation-delay: 0.6s; }
}
    &--basic {
        @extend .wave-effect;
    }
    &--highscore {
        @extend .wave-effect;
        color: green;
    }
    &--perfect {
        @extend .wave-effect;
        color: rgb(181, 118, 208);
    }
}