@use '../base/mixins' as mixins;

.gameover {

  &__popup {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% + 20px);
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  &__panel {
    max-width: 750px;
    margin-top: 50px;
    background-color: white;
    border: solid 2px darkgray;
    z-index: 2;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
}

.log {
  position: relative;
  z-index: 2;
  margin-top: 10px;
  @include mixins.logEntryThemes();
  
  &__subheaders {
    display: grid;
    grid-template-columns: 2fr 3fr 5fr 5fr;
    background-color: white;
  }
  
  &__entries {
    min-height: 505px;
  }
  
  &__entry {
    display: grid;
    grid-template-columns: 2fr 3fr 5fr 5fr;
  }
  
  &__guess {
    font-weight: bold;
    width: max-content;
    margin-inline: auto;
    padding: 2px;

    &--correct {
      @include mixins.logEntryCorrect();

      &.yellowpink {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  
    &--incorrect {
      @include mixins.logEntryIncorrect();
      
      &.blueyellow {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222;
  background-color: white;

  &__button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }

  & svg {
    color: #222;
  }
}