@use '../base/mixins' as mixins;

.gameover {

  &__popup {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 100%;
    height: calc(100% + 20px);
    z-index: 1;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  &__panel {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 750px;
    margin-top: 50px;
    background-color: white;
    border: solid 2px darkgray;
    z-index: 3;
  }

  &__close {
    position: absolute;
    top: 4%;
    right: 4%;
    cursor: pointer;
    font-size: 1.6rem;
    &:hover {
      transform: scale(0.95);
    }
    &:active {
      transform: scale(0.9);
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 95%;
    margin-inline: auto;
    
    @include mixins.breakpoint('small') {
      margin-top: 30px;
    }
  }

  &__end-message {
    font-size: clamp(0.8rem, 0.7053rem + 0.4211vw, 1rem);
    padding-inline: 5px;
  }
}