.gameover {

  &__title {
    padding-top: 50px;
  }
  
  &__subheaders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__category {

    & meter {
      width: 80%;
      max-width: 600px;
      margin-bottom: 0;
    }

    & p {
      margin-bottom: 0;
    }
  }
}

.answers-log {
  &__entry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    &--red {
      @extend .answers-log__entry;
      background-color: var(--red);
    }

    &--green {
      @extend .answers-log__entry;
      background-color: var(--green);
    }
  }
}