@use '../base/mixins' as mixins;

.home {
  text-align: center;
  margin-bottom: 150px;
  @include mixins.homeThemes();

  & h1 {
    margin-top: 100px;
    font-size: clamp(1.6rem, 1.1737rem + 1.8947vw, 2.5rem);
  }

  & p {
    font-size: clamp(1rem, 0.8105rem + 0.8421vw, 1.4rem);
  }

  & a {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  & img {
    position: fixed;
    width: clamp(250px, 60%, 600px);
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0.2;
  }

  &__text-container {
    width: 80%;
    margin-inline: auto;

    & span {
      font-weight: bold;
    }
  }

  &__controls {
    width: clamp(300px, 60%, 800px);
    margin-inline: auto;
    font-weight: bold;

    &--A {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    &--B {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}