.play-game {
  text-align: center;

  &__question {
    font-size: clamp(1.5rem, -0.0882rem + 4.4118vw, 3rem);
  }
}

.answers {
  width: 80%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(2, minmax(100px, 300px));
  justify-content: center;
  gap: 20px;

  &__option {
    display: flex;
    justify-content: center;
    background: black;
    border-radius: 500px;
    padding: 4px;

    &:hover {
      transform: scale(0.97);
    }

    &:active {
      transform: scale(0.95);
    }

    &.disabled {
      transform: scale(1);
      opacity: 0.7;
    }

    &.blue {
      background: linear-gradient(135deg, var(--blueC), rgb(115, 229, 229) 60%, var(--blueC) 100%);
      & button {
        background-color: var(--blueB);

        & .answers__button__alpha {
          background-color: var(--blueC);
        }
      }
    }

    &.yellow {
      background: linear-gradient(135deg, var(--yellowC), rgb(255, 255, 116) 60%, var(--yellowC) 100%);
      & button {
        background-color: var(--yellowB);
        
        & .answers__button__alpha {
          background-color: var(--yellowC);
        }
      }
    }

    &.pink {
      background: linear-gradient(135deg, var(--pinkC), rgb(255, 139, 207) 60%, var(--pinkC) 100%);
      & button {
        background-color: var(--pinkB);
        
        & .answers__button__alpha {
          background-color: var(--pinkC);
        }
      }
    }

    &.teal {
      background: linear-gradient(135deg, var(--tealC), rgb(28, 255, 240) 75%, var(--tealC) 100%);
      & button {
        background-color: var(--tealB);
        
        & .answers__button__alpha {
          background-color: var(--tealC);
        }
      }
    }
  }

  &__button {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 4;
    border: none;
    border-radius: 500px;
    padding-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;

    &:disabled {
      color: transparent;
      user-select: none;
      cursor: default;
    }
    
    &__alpha {
      background-color: black;
      color: black;
      font-size: 1.4rem;
      font-weight: bold;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }

    &__text {
      font-size: 1.2rem;
      font-weight: 100;
    }
  }
}

.nodes {
  margin-inline: auto;
  text-align: left;
  width: 80%;
}

.node {
  width: 2.9%;
  aspect-ratio: 2;
  background-color: black;

  margin: 0.2%;
  display: inline-block;

  &--red {
    @extend .node;
    background-color: var(--red);
  }

  &--green {
    @extend .node;
    background-color: var(--green);
  }
}

.recap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;

  &--correct {
    @extend .recap;
    background-color: var(--green);

    & .recap__result {
      color: darkgreen;
    }
  }

  &--incorrect {
    @extend .recap;
    background-color: var(--red);

    & .recap__result {
      color: darkred;
    }
  }

  &__result {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      transition: 0.2s;
      font-weight: bold;
      margin: 0;
    }
  }

  &__title p {
    margin: 0;
  }

  &__guess {

  }

  &__answers {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    &__item {
      margin: 0 auto;
      padding: 2px 4px;
      width: max-content;
    }

    &__guess {
      background-color: blue;
      &.blue {
        background-color: var(--blueC);
      }
      &.yellow {
        background-color: var(--yellowC);
      }
      &.pink {
        background-color: var(--pinkC);
      }
      &.teal {
        background-color: var(--tealC);
      }
    }
  }
}