.play-game {
  text-align: center;
}

.answers-grid {
  width: 80%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  &__option {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 100%;
    aspect-ratio: 4;
    border: none;
  }
}

.answers-recap {
  background-color: red;
  display: flex;
  justify-content: space-around;
}