@use '../base/mixins' as mixins;

.play-game {
  position: relative;
  text-align: center;
  padding-top: 5px;
  @include mixins.playGameThemes();

  &__progress {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    padding: 4px;

    & p {
      margin: 0;
      font-size: clamp(0.7rem, 0.3684rem + 1.4737vw, 1.4rem);
    }
  }

  &__question {
    font-size: clamp(1.2rem, 0.8211rem + 1.6842vw, 2rem);
    width: 95%;
    margin-inline: auto;

    & p {
      margin: 20px auto;
    }
  }
}

.scoreboard {
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  display: flex;
  gap: 5px;
  padding-right: 5px;
  justify-content: right;
  align-items: center;

  @include mixins.breakpoint('medium') {
    gap: 6px;
    padding-right: 6px;
  }

  @include mixins.breakpoint('large') {
    gap: 10px;
    padding-right: 10px;
  }

  & p {
    font-size: clamp(0.6rem, 0.1765rem + 1.1765vw, 1rem);
  }
}

.timer {
  position: relative;
  height: 50px;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 3;
  }

  &__meter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    max-width: 600px;
  }
}

.answers {
  width: 95%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(1, 70%);
  justify-content: center;
  gap: 10px;

  @include mixins.breakpoint('small') {
    grid-template-columns: repeat(2, minmax(100px, 300px));
    width: 87.5%;
    gap: 15px;
  }

  @include mixins.breakpoint('medium') {
    width: 80%;
    gap: 20px;
  }

  &__option {
    display: flex;
    justify-content: center;
    background: #222;
    border-radius: 500px;
    padding: 4px;
    aspect-ratio: 3.7;

    &:hover {
      transform: scale(0.97);
    }

    &:active {
      transform: scale(0.95);
    }

    &.disabled {
      transform: scale(1);
      opacity: 0.7;
    }

    // @include mixins.answersOptionThemes();
  }

  &__button {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 4;
    border: none;
    border-radius: 500px;
    padding-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;

    &:disabled {
      color: transparent;
      user-select: none;
      cursor: default;
    }
    
    &__alpha {
      background-color: #222;
      color: #222;
      font-size: 1.35rem;
      font-weight: bold;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;

      @include mixins.breakpoint('small') {
        font-size: clamp(0.65rem, 0.3184rem + 1.4737vw, 1.35rem);
      }
    }

    &__text {
      font-size: clamp(1rem, 0.4rem + 2.6667vw, 1.2rem);
      font-weight: 100;
      margin: 0;

      @include mixins.breakpoint('small') {
        font-size: clamp(0.65rem, 0.3184rem + 1.4737vw, 1.35rem);
      }
    }
  }
}

.nodes {
  display: flex;
  text-align: left;
  width: 100%;
  padding: 0 5px;
  margin: 20px auto 0px auto;
}

.node {
  aspect-ratio: 4;
  max-height: 10px;
  background-color: #222;
  display: inline-block;
  width: 100%;

  &--correct {
    @extend .node;
    @include mixins.recapCorrect()
  }

  &--incorrect {
    @extend .node;
    @include mixins.recapIncorrect()
  }
}

.node__container {
  display: flex;
  margin-bottom: 2px;
  padding: 0 1px;
}

.results__button {
  margin-top: 20px;

  @include mixins.breakpoint('medium') {
    margin-top: 40px;
  }
}