@use '../base/mixins' as mixins;

.play-game {
  text-align: center;

  &__question {
    font-size: clamp(1.5rem, -0.0882rem + 4.4118vw, 3rem);
  }
}

.answers {
  width: 80%;
  display: grid;
  margin-inline: auto;
  grid-template-columns: repeat(2, minmax(100px, 300px));
  justify-content: center;
  gap: 20px;

  &__option {
    display: flex;
    justify-content: center;
    background: black;
    border-radius: 500px;
    padding: 4px;

    &:hover {
      transform: scale(0.97);
    }

    &:active {
      transform: scale(0.95);
    }

    &.disabled {
      transform: scale(1);
      opacity: 0.7;
    }

    @include mixins.answersOptionThemes();
  }

  &__button {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
    align-items: center;
    text-align: left;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 4;
    border: none;
    border-radius: 500px;
    padding-left: 10px;
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.7;

    &:disabled {
      color: transparent;
      user-select: none;
      cursor: default;
    }
    
    &__alpha {
      background-color: black;
      color: black;
      font-size: 1.4rem;
      font-weight: bold;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }

    &__text {
      font-size: 1.2rem;
      font-weight: 100;
    }
  }
}

.nodes {
  margin-inline: auto;
  text-align: left;
  width: 80%;
}

.node {
  width: 2.9%;
  aspect-ratio: 2;
  background-color: black;

  margin: 0.2%;
  display: inline-block;

  &--correct {
    @extend .node;
    @include mixins.indicatorsCorrect()
  }

  &--incorrect {
    @extend .node;
    @include mixins.indicatorsIncorrect()
  }
}