@use '../base/mixins' as mixins;

.recap {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  @include mixins.recapThemes();

  &--correct {
    @extend .recap;
    @include mixins.recapCorrect()
  }

  &--incorrect {
    @extend .recap;
    @include mixins.recapIncorrect()
  }

  &__result {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
      transition: 0.2s;
      font-weight: bold;
      margin: 0;
    }
  }

  &__title p {
    margin: 0;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;

    &__item {
      margin: 2px auto;
      padding: 2px 4px;
    }

    &__guess {
      background-color: white;
      border-radius: 5px;
    }
  }
}