.start-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__range {
        width: 100%;
        max-width: 600px;
        margin-bottom: 50px;
    }

    &__checkbox {

    }

    &__button {

    }
}