.stats {
  text-align: center;
  
  &__entries {
    margin-inline: auto;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
  }

  &__reset-history, &__reset-highscore {
    width: 150px;
    aspect-ratio: 3;
  }

  &__play-again {
    display: block;
    margin: 40px auto;
  }
  
  &__entry, &__entry-titles {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }

  &__category-averages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}