@use '../base/mixins' as mixins;

.stats {
  text-align: center;

  &__panel {
    max-width: 800px;
    background-color: white;
    border: solid 2px darkgray;
  }

  &__text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 35px;

    & p {
      width: max-content;
      margin: 0;
      flex: 1;
    }

    &--p1 {
      text-align: right;
    }

    &--p2 {
      text-align: left;
    }

    & span {
      font-size: clamp(0.8rem, 0.7053rem + 0.4211vw, 1rem);
    }
  }
  
  &__entries {
    margin-inline: auto;
  }

  &__entry {
    & div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__perfect-score {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    & div {
      display: flex;
      
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    width: 90%;
    margin-inline: auto;

    @include mixins.breakpoint('small') {
      gap: 50px;
    }

    @include mixins.breakpoint('medium') {
      gap: 75px;
    }

    @include mixins.breakpoint('large') {
      gap: 100px;
    }
  }

  &__reset-history, &__reset-highscore {
    width: 150px;
    aspect-ratio: 3;
  }

  &__new-game {
    display: block;
    margin: 40px auto;
  }

  &__category-averages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}