@use '../base/mixins' as mixins;

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  text-align: center;

  &__nav {
    width: 50%;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;

    & a {
      color: white;

      &:hover {
        opacity: 0.8;
      }

      @include mixins.footerTextThemes();
    }
  }

  &__links {
    display: grid;
    grid-template-columns: 1fr;

    & a {
      margin-inline: auto;
      cursor: pointer;
      color: white;
    }

    & img {
      width: 75px;
      margin-top: 20px;
    }
  }
}