@use '../base/mixins' as mixins;

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  background-color: black;
  z-index: 99;
  @include mixins.footerThemes();

  &__link {
      cursor: pointer;
      color: white;
  }

  &__link:hover {
    text-decoration: underline;
  }
}