@use '../base/mixins' as mixins;

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  color: white;
  background-color: #222;
  z-index: 99;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: clamp(0.4rem, 0.3053rem + 0.4211vw, 0.6rem);
  @include mixins.footerThemes();

  &__link {
      cursor: pointer;
      color: white;
  }

  &__link:hover {
    text-decoration: underline;
  }
}