@use '../base/mixins' as mixins;

nav {
  position: relative;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  z-index: 99;

  & h1 {
    font-size: 2rem;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}

.nav {

  &__home {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.3s;

    &:hover {
      transform: scale(0.95);
      box-shadow: 0px 0px 10px white;
    }

    &:active {
      transform: scale(0.9);
    }

    & svg {
      color: black;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.theme {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  
  &__icon {
    width: 35px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  &__icon:hover {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px white;
  }

  &__icon:active {
    transform: scale(0.9);
  }

  &__dropdown {
    position: absolute;
    right: 5px;
    top: 25px;
    display: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    width: 200px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 101;
    box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.5);

    &.active {
      display: grid;
      grid-template-columns: 1fr;
    }

    & h4 {
      margin: 10px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    &.active {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__select {
    cursor: pointer;
    margin-inline: auto;
    margin-bottom: 4px;
    padding: 4px 12px;
    width: 80%;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: space-between;

    @include mixins.themeDropdownThemes();

    & div {
      width: 20px;
      aspect-ratio: 1;
      border: 1px solid black;
      border-radius: 100%;
    }
  }
}

.indicator {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  &__select {
    cursor: pointer;
    margin-inline: auto;
    margin-bottom: 4px;
    padding: 4px 12px;
    width: 80%;
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
    background-color: #eee;
    border: solid 2px black;

    @include mixins.themeDropdownIndicators()
  }

  &__samples {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__sample {
    width: 15px;
    margin-inline: 2px;
    aspect-ratio: 1;
    border: 1px solid black;
  }
}

.theme__select, .indicator__select {

  &.active {
    opacity: 0.85;
    transform: scale(0.97);
  }

  &:hover {
    opacity: 0.85;
    transform: scale(0.97);
  }
}