@use '../base/mixins' as mixins;

nav {
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  background-color: #222;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 99;
  @include mixins.navThemes();

  @include mixins.breakpoint('small') {
    justify-content: center;
  }
}

.nav {
  &__title {
    width: max-content;

    cursor: pointer;

    & h1 {
      color: white;
      font-size: clamp(0.9rem, 0.6158rem + 1.2632vw, 1.5rem);
      font-weight: 900;
      margin-inline: 10px;
    }
  }

  &__icons {
    position: absolute;
    right: 0;
    display: flex;
  }
  
  &__icon {
    width: 22px;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-inline: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;

    @include mixins.breakpoint('medium') {
      width: 24px;
      margin-inline: 6px;
    }

    @include mixins.breakpoint('large') {
      width: 28px;
      margin-inline: 8px;
    }

    @include mixins.breakpoint('xlarge') {
      width: 30px;
      margin-inline: 10px;
    }

    &:hover {
      transform: scale(0.95);
      box-shadow: 0px 0px 10px white;
    }

    &:active {
      transform: scale(0.9);
    }

    & svg {
      color: #222;
      font-size: clamp(0.8rem, 0.3765rem + 1.1765vw, 1.2rem);
    }
  }
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50px;
  
  &__icon {
    width: 30px;
    transition: 0.25s;
    cursor: pointer;
  }
  
  &__icon:hover {
    transform: scale(0.95);
    box-shadow: 0px 0px 10px white;
  }

  &__icon:active {
    transform: scale(0.9);
  }

  &__dropdown {
    position: absolute;
    right: 5px;
    top: 25px;
    display: none;
    border-radius: 10px;
    background-color: #222;
    color: white;
    width: 200px;
    padding-bottom: 15px;
    text-align: center;
    z-index: 101;
    box-shadow: 5px 5px 20px rgba($color: #000000, $alpha: 0.5);

    &.active {
      display: grid;
      grid-template-columns: 1fr;
    }

    & h4 {
      margin: 10px;
      font-weight: 100;
      letter-spacing: 3px;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    &.active {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__select {
    cursor: pointer;
    margin-inline: auto;
    margin-bottom: 4px;
    padding: 4px 12px;
    width: 80%;
    border-radius: 5px;
    color: #222;
    display: flex;
    justify-content: space-between;

    @include mixins.themeDropdownThemes();

    & div {
      width: 20px;
      aspect-ratio: 1;
      border: 1px solid #222;
      border-radius: 100%;
    }
  }
}

.indicator {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  &__select {
    cursor: pointer;
    margin-inline: auto;
    margin-bottom: 4px;
    padding: 4px 12px;
    width: 80%;
    border-radius: 5px;
    color: #222;
    display: flex;
    justify-content: center;
    background-color: #eee;
    border: solid 2px #222;

    @include mixins.themeDropdownIndicators()
  }

  &__samples {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__sample {
    width: 15px;
    margin-inline: 2px;
    aspect-ratio: 1;
    border: 1px solid #222;
  }
}

.theme__select, .indicator__select {

  &.active {
    opacity: 0.85;
    transform: scale(0.97);
  }

  &:hover {
    opacity: 0.85;
    transform: scale(0.97);
  }
}