nav {
  position: relative;
  height: 50px;
  background-color: black;
}

.theme {
  

  &__icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
    background-color: grey;
    width: 100px;
    text-align: center;

    & a {
      cursor: pointer;
      margin: 4px 0;
      padding: 0;
    }

    & a:hover {
      background-color: white;
    }

    &.active {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  &__background {
    display: none;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 100;

    &.active {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}